<!DOCTYPE html>
<html>
  <head>
    <title>TwTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "新規投稿", new_blog_path, class: "new_create btn btn-primary" %>
    </header>
  
    <%= yield %>
    <footer></footer>
  </body>
</html>
